
#header { background: #000000; }
a { color: blue; }

a:hover, a:visited:hover { color: blue; }
a:visited { color: #314CC0; }
html, body, .form-radio, .form-checkbox, .form-file, .form-select, select, .form-text, input, .form-textarea, textarea  { font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "DejaVu Sans", Arial, sans-serif; }
h1, h2, h3, h4, h5, h6  { font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "DejaVu Sans", Arial, sans-serif; }
#wrapper { font-size: 12px; }
#header { height: 143px; }
#wrapper, #footer { width: 920px; }